<article class="bnp-product" style="padding-top:3rem;">
  <div class="bnp-product__inner">
    <h1 class="bnp-product__title">{{ page.title }}</h1>
    <div class="bnp-product__desc rte">{{ page.content }}</div>
  </div>
</article>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "settings": []
}
{% endschema %}
